* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #ffffff;
    --text: #222;
    --card: #ffffff;
    --shadow: rgba(0,0,0,0.1);
    --navbar: #4A90E2;
}

.dark {
    --bg: #1a1a1a;
    --text: #eeeeee;
    --card: #2a2a2a;
    --shadow: rgba(255,255,255,0.1);
    --navbar: #111;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    background: var(--navbar);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 10px;
}

.navbar a.active,
.navbar a:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.header {
    background: #4A90E2;
    color: white;
    padding: 25px;
    text-align: center;
}

.summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: var(--card);
    padding: 25px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 3px 8px var(--shadow);
}

.assignments table {
    width: 100%;
    border-collapse: collapse;
    background: var(--card);
    box-shadow: 0 3px 8px var(--shadow);
    border-radius: 10px;
    overflow: hidden;
}

.assignments th, .assignments td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.pending {
    color: #d9534f;
}

.completed {
    color: #5cb85c;
}

.simple-page {
    padding: 40px;
}

.profile-box {
    background: var(--card);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px var(--shadow);
}
td{
    text-align: center;
}
@media (max-width: 900px) {
    .summary {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .summary {
        grid-template-columns: 1fr;
    }
}